In [1]:
import pandas as pd
pd.set_option('display.max_columns', None)

In [2]:
# df = pd.read_csv("./rawdata/archive/2009.csv")#,nrows=999999)

In [3]:
path = "./rawdata/archive" # use your path
  
# all_files = glob.glob(path + "/*.csv")
years = range(2009,2019)
li = []
for year in years:
    print(year)
    frame = pd.read_csv(f"{path}/{year}.csv", index_col=None, header=0)
    li.append(frame)
print("Concatenating...")
df = pd.concat(li, axis=0, ignore_index=True)

2009
2010
2011
2012
2013
2014
2015
2016
2017
2018
Concatenating...

In [4]:
df.head()

,FL_DATE,OP_CARRIER,OP_CARRIER_FL_NUM,ORIGIN,DEST,CRS_DEP_TIME,DEP_TIME,DEP_DELAY,TAXI_OUT,WHEELS_OFF,WHEELS_ON,TAXI_IN,CRS_ARR_TIME,ARR_TIME,ARR_DELAY,CANCELLED,CANCELLATION_CODE,DIVERTED,CRS_ELAPSED_TIME,ACTUAL_ELAPSED_TIME,AIR_TIME,DISTANCE,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,Unnamed: 27
0,2009-01-01,XE,1204,DCA,EWR,1100.0,1058.0,-2.0,18.0,1116.0,1158.0,8.0,1202.0,1206.0,4.0,0.0,NaN,0.0,62.0,68.0,42.0,199.0,NaN,NaN,NaN,NaN,NaN,NaN
1,2009-01-01,XE,1206,EWR,IAD,1510.0,1509.0,-1.0,28.0,1537.0,1620.0,4.0,1632.0,1624.0,-8.0,0.0,NaN,0.0,82.0,75.0,43.0,213.0,NaN,NaN,NaN,NaN,NaN,NaN
2,2009-01-01,XE,1207,EWR,DCA,1100.0,1059.0,-1.0,20.0,1119.0,1155.0,6.0,1210.0,1201.0,-9.0,0.0,NaN,0.0,70.0,62.0,36.0,199.0,NaN,NaN,NaN,NaN,NaN,NaN
3,2009-01-01,XE,1208,DCA,EWR,1240.0,1249.0,9.0,10.0,1259.0,1336.0,9.0,1357.0,1345.0,-12.0,0.0,NaN,0.0,77.0,56.0,37.0,199.0,NaN,NaN,NaN,NaN,NaN,NaN
4,2009-01-01,XE,1209,IAD,EWR,1715.0,1705.0,-10.0,24.0,1729.0,1809.0,13.0,1900.0,1822.0,-38.0,0.0,NaN,0.0,105.0,77.0,40.0,213.0,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df.to_csv("decade_flights_RAW.csv")

In [6]:
df["ROUTE"] = df["ORIGIN"] + " --> " + df["DEST"]
df.drop(df.columns.difference(["FL_DATE",
                               "OP_CARRIER",
                               "ORIGIN",
                               "DEST",
                               "CRS_ELAPSED_TIME",
                               "ACTUAL_ELAPSED_TIME",
                               "AIR_TIME",
                               "DISTANCE",
                               "ROUTE"]),
        1, inplace=True)

df = df.dropna(subset=['CRS_ELAPSED_TIME', 'ACTUAL_ELAPSED_TIME', 'AIR_TIME', 'DISTANCE'])

df = df.astype({"CRS_ELAPSED_TIME": int, "ACTUAL_ELAPSED_TIME": int,"AIR_TIME": int,"DISTANCE": int})

df = df[df.groupby('ROUTE').ROUTE.transform(len) > 1000]

In [7]:
df.to_csv("decade_flights_CLEAN.csv")

In [8]:
df.head()

,FL_DATE,OP_CARRIER,ORIGIN,DEST,CRS_ELAPSED_TIME,ACTUAL_ELAPSED_TIME,AIR_TIME,DISTANCE,ROUTE
0,2009-01-01,XE,DCA,EWR,62,68,42,199,DCA --> EWR
1,2009-01-01,XE,EWR,IAD,82,75,43,213,EWR --> IAD
2,2009-01-01,XE,EWR,DCA,70,62,36,199,EWR --> DCA
3,2009-01-01,XE,DCA,EWR,77,56,37,199,DCA --> EWR
4,2009-01-01,XE,IAD,EWR,105,77,40,213,IAD --> EWR